openapi: 3.0.3
info:
  title: Swoogo Authentication Events API
  description: 'The Swoogo API is a REST API for the Swoogo event management and event registration platform. It lets you programmatically manage events, registrants, sessions, speakers, sponsors, tracks, packages, discount codes, transactions, organization-level contacts (CRM), call-for-speakers submissions, invitation lists, and webhooks. The base URL is https://api.swoogo.com/api/v1. Authentication uses OAuth2 client credentials: Base64-encode your API key and secret (found in the Swoogo app under My Profile > API Credentials), exchange them at POST /oauth2/token for a bearer token, then send that token as an Authorization: Bearer header. Bearer tokens expire every 30 minutes. This document models a representative subset of the roughly 140 documented endpoints; the full reference is at https://swoogo.readme.io/reference. Endpoint paths are grounded in the published Swoogo API documentation; request/response schemas below are illustrative and should be verified against the live reference.'
  version: '1.0'
  contact:
    name: Swoogo
    url: https://developer.swoogo.com
  termsOfService: https://swoogo.events
servers:
- url: https://api.swoogo.com/api/v1
  description: Swoogo production API
security:
- bearerAuth: []
tags:
- name: Events
  description: Events and their fields, questions, websites, folders, and badges.
paths:
  /events:
    get:
      operationId: listEvents
      tags:
      - Events
      summary: Get all events
      description: Returns a paginated list of events in your Swoogo account.
      parameters:
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: A list of events.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      operationId: createEvent
      tags:
      - Events
      summary: Create an event
      description: Creates a new event.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '201':
          description: The created event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /events/{event_id}:
    parameters:
    - $ref: '#/components/parameters/EventId'
    get:
      operationId: getEvent
      tags:
      - Events
      summary: Get one event
      description: Retrieves a single event by ID.
      responses:
        '200':
          description: The requested event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateEvent
      tags:
      - Events
      summary: Update an event
      description: Updates an existing event.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: The updated event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /events/{event_id}/clone:
    parameters:
    - $ref: '#/components/parameters/EventId'
    post:
      operationId: cloneEvent
      tags:
      - Events
      summary: Clone an event
      description: Creates a copy of an existing event.
      responses:
        '201':
          description: The cloned event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    PageSize:
      name: per-page
      in: query
      schema:
        type: integer
      description: The number of records per page.
    Fields:
      name: fields
      in: query
      schema:
        type: string
      description: Comma-separated list of fields to include in the response.
    Page:
      name: page
      in: query
      schema:
        type: integer
      description: The page number for paginated results.
    EventId:
      name: event_id
      in: path
      required: true
      schema:
        type: integer
      description: The event ID.
  responses:
    RateLimited:
      description: Rate limit exceeded. Swoogo allows 2000 credits per rolling 10-minute window (list requests cost 10 credits, single-record requests cost 1).
    NotFound:
      description: The requested resource was not found.
    Unauthorized:
      description: The bearer token is missing, invalid, or expired.
  schemas:
    EventList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Event'
        total_count:
          type: integer
        page:
          type: integer
        per_page:
          type: integer
    Event:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        timezone:
          type: string
        url:
          type: string
        status:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token obtained from POST /oauth2/token using the OAuth2 client_credentials grant. Tokens expire every 30 minutes.
